.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle{
    font-family: "Bebas Neue";
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 50px;
    padding-bottom: 40px;
}

img{
    width: 400px;
    height: 600px;
    padding: 10px;
}

.about-text-picture{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left:16rem;
    margin-right: 16rem;
}

.about-text{
    font-family:"Archivo Narrow";
    font-size: 20px;
    letter-spacing: 1px;
}

.vertical-seperator{
    border-left: 6px green;
    height: 500px;
}
