.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vl{
    height: 450px;
    padding-right: 2px;
    background-color:rgb(194, 190, 190);
}

.subtitle{
    font-family: "Bebas Neue";
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 50px;
    padding-bottom: 40px;
}

img{
    width: 400px;
    height: 600px;
    padding: 20px;
}

.about-text-picture{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left:16rem;
    margin-right: 16rem;
}

.about-text{
    font-family:"Archivo Narrow";
    margin-left:10px;
    font-size: 17px;
    letter-spacing: 1px;
    word-wrap: normal;
    padding: 8px;
}

a{
    text-decoration: none;
}
.handles:visited {
    color: #666
}
p{
    padding:20px
}

.social-media-handles{
    align-self: inherit;
    display: flex;
    font-family: "Abel";
    font-weight: 900;
    letter-spacing: 2px;
}