.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle{
    font-family: "Bebas Neue";
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 50px;
    padding-bottom: 40px;
}

img{
    width: 400px;
    height: 600px;
    padding: 10px;
}

.about-text-picture{
    display:flex;
    justify-content: space-around;
    margin-left:20rem;
    margin-right: 20rem;
}

.about-text{
    font-family:"Archivo Narrow"
}
