#about-banner {
    height:100vh;
    background-size: cover;
    background-position: 0% 70%;
}

.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Bebas Neue";
}

.about-description-wrapper{
    display:flex; 
    height: inherit;
    justify-content: center;
    align-items: center;
}

#about-description-text{
    color:white;
    font-family: "Bebas Neue";
    font-size: 20px;
    letter-spacing: 2px;
}

iframe{
    margin-bottom: 10px;
}