.blog-item{
    display:flex;
    justify-content: center;

}

.blog-img{
    width:18rem;
    height: 15rem;
    object-fit: cover;
}

.blog-link{
    text-decoration: none;
}

.blog-title{
    font-family:'Abel';
    font-size: 17px;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}