.blog{
    display: flex;
    flex-direction: column;
}
#blog-header{
    align-self: center;
}
.blog-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family:"Abel";
    margin-left: 20rem;
    margin-right: 20rem;
}

.blog-thumbnails{
    display: flex;
    justify-content: center;
    /* background-color: palegoldenrod; */
    margin-bottom: 1 rem; /* mitigates shift in page when title takes two lines instead of one*/
}

.feature-nav{
    display: flex;
}

.page{
    padding-right: 1rem
}