.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px
}


#blog-header{
    align-self: center;
    padding-bottom: 1rem;
    padding-top:2rem;
}

hr{
    margin: 10px;
    width: 56rem;
    background-color: black;
    align-self: center;
}

.blog-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family:"Abel";
    margin-left: 215px;
    margin-right: 215px;
}

.blog-thumbnails{
    display: flex;
    justify-content: center;
    margin-bottom: 1 rem;
}

.feature-nav{
    display: flex;
}

.page{
    padding-right: 1rem
}

#read-more{
    background-color: #a18f78;
    font-family:'Abel';
    align-self: center;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 3rem;
}

.readmore{
    text-decoration: none;
    color: white;
}