#blog-banner {
    height:664px;
    background-image: url('../png/Blog\ Header.jpg');
    background-size: cover;
    background-position: 0% 70%;
}

img{
    width:20rem;
    height: 15rem;
    object-fit: cover;
}