#blog-banner {
    height:664px;
    background-image: url('../png/Blog\ Header.jpg');
    background-size: cover;
    background-position: 0% 70%;
}

img{
    width:20rem;
    height: 15rem;
    object-fit: cover;
}

.blog-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: coral; */
}

.summary{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.blog-item{
    display:flex;
    flex-direction: column;
}

article{
    display:flex;
    justify-content: center;
    align-self: center;
    /* background-color: cadetblue; */
}
