#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    background-color: transparent;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px
}

#nav-links{
    display:flex;
    justify-content: space-evenly;
}

.navButton{
    margin-left: 20px;
    font-size: 16px;
    letter-spacing: 2px;
}

#title-container{
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 45px;
}

.navLink{
    color:white;
    text-decoration: none;
}

.navLink:hover{
    color: black
}




