.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio-banner {
    height:100vh;
    width: 100vw;
    background-size: cover;
    background-position: 0% 70%;
}
.subtitle{
    font-family: "Bebas Neue";
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 50px;
}
.project-summary{
    display:flex;
    margin-bottom: 1rem;
    width: 75%;
}

iframe{
    min-width:600px;
    height: auto;
    padding-right: 16px;
}

strong{
    font-family:'Bebas Neue'
}

.project-description{
    display:flex; 
    flex-direction: column;
    min-width: 40%;    
}

.project-description-text{
    font-family:"Abel";
}

.portfolio-description-wrapper{
    display:flex; 
    height: inherit;
    justify-content: center;
    align-items: center;
}
