#portfolio-banner {
    height:664px;
    background-image: url('../png/Portfolio\ Header.jpg');
    background-size: cover;
    background-position: 0% 70%;
}

.project-summary{
    display:flex;
    margin-bottom: 1rem;
    width: 75%;
}

iframe{
    min-width:600px;
    height: 400px;
}


.project-description{
    display:flex; 
    flex-direction: column;
    min-width: 40%;    
}

.description-line{
    font-family: "Archivo Narrow";
    word-break: break-all;
    white-space: normal;
}