#portfolio-banner {
    height:664px;
    background-size: cover;
    background-position: 0% 70%;
}

.project-summary{
    display:flex;
    margin-bottom: 1rem;
    width: 75%;
}

iframe{
    min-width:600px;
    height: 400px;
}

strong{
    font-family:'Bebas Neue'
}

.project-description{
    display:flex; 
    flex-direction: column;
    min-width: 40%;    
}

.project-description-text{
    font-family:'Archivo Narrow'
}
